blueprint.json
{
    "name": "Integration Webhooks",
    "flow": [
        {
            "id": 2,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 361023,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "My gateway-webhook webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 599077
            },
            "mapper": {
                "base": "appjwe3Hjgm8AbYlf",
                "table": "tblhzLD1Ss1OE86v0",
                "formula": "{callsid}=\"{{2.callsid}}\"",
                "maxRecords": "1",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "GPT Call Bot"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Table 1"
                        },
                        "fields": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Feeble Airtable connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "callsid",
                        "type": "text",
                        "label": "callsid"
                    },
                    {
                        "name": "Transcript",
                        "type": "text",
                        "label": "Transcript",
                        "multiline": true
                    },
                    {
                        "name": "Created time",
                        "type": "date",
                        "label": "Created time"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 599252
            },
            "mapper": {
                "model": "text-davinci-003",
                "prompt": "{{ifempty(3.Transcript; \"The following is a conversation with an AI assistant. The assistant is helpful, creative, clever, and very friendly.\n\nAI: Hello thanks for calling your friendly AI. How can I help?\")}}\nHuman: {{ifempty(2.human_response_2; 2.human_response_1)}}\nAI:",
                "max_tokens": "200",
                "temperature": ".7"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My OpenAI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "text-davinci-003"
                        },
                        "echo": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt"
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top p"
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "N"
                    },
                    {
                        "name": "echo",
                        "type": "boolean",
                        "label": "Echo"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 8,
                    "module": "builtin:Resume",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "id": "",
                        "model": "",
                        "usage": {
                            "total_tokens": "",
                            "prompt_tokens": ""
                        },
                        "object": "",
                        "choices": [
                            {
                                "text": "{{4.error.type}}\n\n{{4.error.type}}\n\n{{4.error.detail}}",
                                "index": "",
                                "logprobs": "",
                                "finish_reason": ""
                            }
                        ],
                        "created": ""
                    },
                    "metadata": {
                        "designer": {
                            "x": 900,
                            "y": 300
                        },
                        "restore": {
                            "expect": {
                                "choices": {
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "created",
                                "type": "date",
                                "label": "Created"
                            },
                            {
                                "name": "model",
                                "type": "text",
                                "label": "Model"
                            },
                            {
                                "name": "choices",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text"
                                        },
                                        {
                                            "name": "index",
                                            "type": "number"
                                        },
                                        {
                                            "name": "logprobs",
                                            "type": "text"
                                        },
                                        {
                                            "name": "finish_reason",
                                            "type": "text"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Choices"
                            },
                            {
                                "name": "usage",
                                "spec": [
                                    {
                                        "name": "prompt_tokens",
                                        "type": "number"
                                    },
                                    {
                                        "name": "total_tokens",
                                        "type": "number"
                                    }
                                ],
                                "type": "collection",
                                "label": "Usage"
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 5,
            "module": "airtable:upsertRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 599077
            },
            "mapper": {
                "base": "appjwe3Hjgm8AbYlf",
                "typecast": false,
                "useColumnId": false,
                "table": "tblhzLD1Ss1OE86v0",
                "recordId": "{{3.id}}",
                "record": {
                    "fld0rtsh18aAYGM2s": "{{2.callsid}}",
                    "fld94QZgTj5yMp4OI": "{{ifempty(3.Transcript; \"The following is a conversation with an AI assistant. The assistant is helpful, creative, clever, and very friendly.\n\nAI: Hello thanks for calling your friendly AI. How can I help?\")}}\nHuman: {{ifempty(2.human_response_2; 2.human_response_1)}}\nAI:{{4.choices[].text}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Feeble Airtable connection",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "GPT Call Bot"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "label": "Table 1"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "recordId",
                        "type": "text",
                        "label": "Record ID"
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "fld0rtsh18aAYGM2s",
                                "type": "text",
                                "label": "callsid"
                            },
                            {
                                "name": "fld94QZgTj5yMp4OI",
                                "type": "text",
                                "label": "Transcript"
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "callsid",
                        "label": "callsid",
                        "type": "text"
                    },
                    {
                        "name": "Transcript",
                        "label": "Transcript",
                        "type": "text",
                        "multiline": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 6,
            "module": "json:TransformToJSON",
            "version": 1,
            "parameters": {
                "space": ""
            },
            "mapper": {
                "object": "{{trim(4.choices[].text)}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "object",
                        "type": "any",
                        "label": "Object"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{\"ai_response\":{{6.json}}}",
                "status": "200",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}